# .github/workflows/go-ci.yml
name: Go CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push events to the 'main' branch
  push:
    branches: [main]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "test"
  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Step 1: Checks out your repository under $GITHUB_WORKSPACE, so your workflow can access it.
      # This uses a GitHub Action created by the community.
      - uses: actions/checkout@v5

      # Step 2: Sets up the Go environment.
      # This uses a GitHub Action to install a specific version of Go.
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25" # Specify the Go version you are using

      # Step 3: Runs the Go unit tests.
      # 'run' executes a command line script.
      - name: Run Go tests
        run: go test -v ./app/... # This command runs tests in the 'src' directory and its subdirectories
